<a href="https://colab.research.google.com/github/Patriciangugi/dsc-intro-to-probability-lab/blob/master/Introduction_to_Probability_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
roll_dice = {1, 2, 3, 4, 5, 6}

In [ ]:
event = {5, 6}

In [ ]:
prob_5_6 = len(event) / len(roll_dice)
prob_5_6

0.3333333333333333

In [2]:
import numpy as np
np.random.randint(1,7) # you will get a random value between 1 and 6. See how it changes when you rerun

2

In [3]:
np.random.seed(12345) # to ensure reproducibility of results

dice_10 = np.random.randint(1,7,size=10)
dice_1k = np.random.randint(1,7,size=1000)
dice_1m = np.random.randint(1,7,size=1_000_000)
dice_100m = np.random.randint(1,7,size=100_000_000)

In [8]:
def count_events(dice_rolls):
    events = np.sum((dice_rolls == 5) | (dice_rolls == 6))
    return events

event_10 = count_events(dice_10)
event_1k = count_events(dice_1k)
event_1m = count_events(dice_1k)
event_100m = count_events(dice_100m)

print("Number of events with 10 rolls:", event_10)
print("Number of events with 1,000 rolls:", event_1k)
print("Number of events with 1,000,000 rolls:", event_1m)
print("Number of events with 100,000,000 rolls:", event_100m)

Number of events with 10 rolls: 5
Number of events with 1,000 rolls: 331
Number of events with 1,000,000 rolls: 331
Number of events with 100,000,000 rolls: 33329752

In [7]:
prob_10 = event_10 / 10
prob_1k = event_1k / 1000
prob_1m = event_1m / 1_000_000
prob_100m = event_100m / 100_000_000

print("Probability with 10 rolls:", prob_10)
print("Probability with 1,000 rolls:", prob_1k)
print("Probability with 1,000,000 rolls:", prob_1m)
print("Probability with 100,000,000 rolls:", prob_100m)

Probability with 10 rolls: 0.5
Probability with 1,000 rolls: 0.331
Probability with 1,000,000 rolls: 0.000331
Probability with 100,000,000 rolls: 0.33329752

In [9]:
P_afr = 0.161
P_ant = 0.000
P_as = 0.598
P_eur = 0.10
P_na = 0.079
P_aus = 0.005
P_sa = 0.057

print("P(Africa):", P_afr)
print("P(Antarctica):", P_ant)
print("P(Asia):", P_as)
print("P(Europe):", P_eur)
print("P(North-America):", P_na)
print("P(Australia):", P_aus)
print("P(South-America):", P_sa)

P(Africa): 0.161
P(Antarctica): 0.0
P(Asia): 0.598
P(Europe): 0.1
P(North-America): 0.079
P(Australia): 0.005
P(South-America): 0.057

In [10]:
continents = np.array([P_afr, P_ant, P_as, P_eur, P_na, P_aus, P_sa])
print(continents)

[0.161 0.    0.598 0.1   0.079 0.005 0.057]

In [11]:
def check_axioms(sample_space):
  non_negativity = np.all(sample_space >= 0)

In [15]:
check_axioms(continents)
print(check_axioms(continents))

None

In [16]:
test_1 = np.array([0.05, 0.2, 0.3, 1.01])
test_2 = np.array([0.05, 0.5, 0.6, -0.15])
test_3 = np.array([0.043,0.05,.02,0.3,0.2])

print(check_axioms(test_1))
print(check_axioms(test_2))
print(check_axioms(test_3))

None
None
None

In [17]:
sample_dice = np.array([(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6),
                        (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6),
                        (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6),
                        (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6),
                        (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6),
                        (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)])
print(sample_dice.shape)

(36, 2)

In [18]:
set_5 = np.array([np.any(dice == 5) for dice in sample_dice])
print(set_5)

[False False False False  True False False False False False  True False
 False False False False  True False False False False False  True False
  True  True  True  True  True  True False False False False  True False]

In [20]:
true_5 = np.array([np.any(dice == 5) for dice in sample_dice])
print(true_5)

[False False False False  True False False False False False  True False
 False False False False  True False False False False False  True False
  True  True  True  True  True  True False False False False  True False]

In [21]:
prob_5 = np.sum(true_5) / len(sample_dice)
print(prob_5)

0.3055555555555556

In [22]:
set_5 = np.array([np.any(dice == 5) for dice in sample_dice])
set_6 = np.array([np.any(dice == 6) for dice in sample_dice])

In [23]:
set_5_6 = set_5 | set_6

In [24]:
num_set_5_6 = np.sum(set_5_6)

In [25]:
prob_5_6 = num_set_5_6 / len(sample_dice)

In [26]:
print(set_5_6)
print(prob_5_6)

[False False False False  True  True False False False False  True  True
 False False False False  True  True False False False False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True]
0.5555555555555556

In [27]:
sum_dice = np.sum(sample_dice, axis=1)
sum_8 = (sum_dice == 8)
num_sum_8 = np.sum(sum_8)

In [28]:
prob_sum_8 = num_sum_8 / len(sample_dice)
print(prob_sum_8)

0.1388888888888889

In [32]:
import numpy as np
from itertools import permutations
perms = permutations(['M', 'M', 'M', 'F', 'F', 'F'])
print(perms)

<itertools.permutations object at 0x7ea8ac89f1a0>

In [33]:
sample_mf = np.array(list(perms))

In [34]:
sample_length = sample_mf.shape[0]
print(sample_mf.shape)
print(sample_length)

(720, 6)
720

In [35]:
first_3_F = sample_mf[:, :3]
print("First 3 appointment slots (F):")
print(first_3_F)

First 3 appointment slots (F):
[['M' 'M' 'M']
 ['M' 'M' 'M']
 ['M' 'M' 'M']
 ...
 ['F' 'F' 'F']
 ['F' 'F' 'F']
 ['F' 'F' 'F']]

In [37]:
num_F = np.sum(first_3_F == 'F', axis=1)

print(num_F)

[0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1
 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2
 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2
 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1
 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2
 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1
 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 3 3 3 3 3 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 1
 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2
 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 3 3 3 3 3 3 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1
 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3]

In [38]:
F_2plus = np.sum(num_F >= 2)
print(F_2plus)

360

In [39]:
prob_F_2plus = F_2plus / sample_mf.shape[0]
print("\nProbability that at least 2 out of the first 3 appointments are female:", prob_F_2plus)

Probability that at least 2 out of the first 3 appointments are female: 0.5

In [40]:
first_4_F = sample_mf[:, :4]

print(first_4_F)

[['M' 'M' 'M' 'F']
 ['M' 'M' 'M' 'F']
 ['M' 'M' 'M' 'F']
 ...
 ['F' 'F' 'F' 'M']
 ['F' 'F' 'F' 'M']
 ['F' 'F' 'F' 'M']]

In [41]:
num_F = np.sum(first_4_F == 'F', axis=1)
print(num_F)

[1 1 1 1 1 1 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 1 1 1 1 1 1 2 2 2 2 1
 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1
 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2
 2 3 3 2 2 2 2 3 3 1 1 1 1 1 1 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 1 1
 1 1 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3
 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2
 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 1 1 1 1 1 1 2 2 2 2 1 1 2 2 2 2 1
 1 2 2 2 2 1 1 1 1 1 1 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1 2 2 2 2 1 1
 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2
 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2
 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3
 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3
 2 2 2 2 3 3 3 3 3 3 3 3 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3 3 3 3 3 3 3 1
 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2
 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2
 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3 3 3 3 3 3 3 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2
 3 3 3 3 3 3 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2
 2 1 1 2 2 2 2 2 2 2 2 3 3 2 2 2 2 3 3 1 1 2 2 2 2 1 1 2 2 2 2 2 2 2 2 3 3
 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3 2 2 2 2 3 3 3 3 3 3 3 3 2 2 2 2 3 3 2
 2 2 2 3 3 2 2 2 2 3 3 3 3 3 3 3 3]

In [42]:
F_all_4 = np.sum(num_F == 3)
print(F_all_4)

144

In [43]:
prob_F_all_4 = F_all_4 / sample_mf.shape[0]
print(prob_F_all_4)

0.2